

*.py[co]
MANIFEST
.DS_Store

# IDE
.idea/
venv/


# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#secrets
!/.env
.env
secrets.toml
google_credentials.json

#other stuff
settings.json
.vscode/launch.json
notebooks/checking_anvisa_api.ipynb
