#MainMenu, header, footer {visibility: hidden;}
.element-container:has(iframe[height="0"]) {display: none;}
.st-emotion-cache-1jicfl2 {
    padding: 0rem;
    }
.stPlotlyChart {
        height: 100vh;
    }
div[data-testid="stSidebarHeader"] > img, div[data-testid="collapsedControl"] > img {
    height: 5rem;
    width: auto;
}
div[data-testid="stSidebarHeader"], div[data-testid="stSidebarHeader"] > *,div[data-testid="collapsedControl"], div[data-testid="collapsedControl"] > * {
    display: flex;
    align-items: center;
}
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
}