#MainMenu, header, footer {visibility: hidden;}

.element-container:has(iframe[height="0"]) {display: none;}

.stPlotlyChart {
        height: 100vh;
    }

div[data-testid="stSidebarHeader"] > img, div[data-testid="collapsedControl"] > img {
    height: 5rem;
    width: auto;
}
div[data-testid="stSidebarHeader"], div[data-testid="stSidebarHeader"] > *,div[data-testid="collapsedControl"], div[data-testid="collapsedControl"] > * {
    display: flex;
    align-items: center;
}
hr {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
h2 {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

div[data-testid="stMainBlockContainer"] {
    padding: 0px;}

div[class="js-plotly-plot"] {
    height: 100%;
}
div[data-testid="stForm"] {
    padding-top: 5px;
}